body {
  box-sizing: border-box;
  margin: 0;
}
.running-container,
.favourite_container {
  background-color: #051622;
  height: 100%;
  width: 100%;
}
.running-table {
  margin-top: 15vh;
  color: white;
  border-collapse: collapse;
  width: 100vw;
}
th {
  border: 2px solid gray;
}

.running-table__head {
  font-size: 20px;
}

.running_container_items {
  width: 100vw;
}
.running_container_city,
.running_container_name,
.running_container_distance,
.running_container_province,
.running_container_date {
  display: inline-block;
  width: 18vw;
  text-align: center;
  vertical-align: middle;
}
.running_container_button {
  width: 10vw;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: white;
  padding: 10px 8px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  justify-content: center;
}
